
*.vsidx
*.vsidx
*.vsidx
/.vs
.vs/AppPanDulceria/FileContentIndex/1f21b5c4-caef-496d-a8f7-c3b43989c625.vsidx
.vs/AppPanDulceria/FileContentIndex/1f21b5c4-caef-496d-a8f7-c3b43989c625.vsidx
/.vs/AppPanDulceria/FileContentIndex
/.vs/AppPanDulceria
/.vs
*.vsidx
.vs/AppPanDulceria/FileContentIndex/1f21b5c4-caef-496d-a8f7-c3b43989c625.vsidx
/.vs
/.vs
